@import "config";
@import "menu";
@import "home";
@import "education";
@import "projects";
@import "contact";
@import "responsive";

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  line-height: 1;
  font-size: 16px;
  font-family: sans-serif;
  background: $primary-color;
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);

  :hover {
    color: $secondary-color;
  }
}

.logo {
  width: 6rem;
}

img {
  width: 100%;
}

p, h1,h2,h3,h4,th,td,li,label {
  color: set-text-color($primary-color);
}

.text-secondary {
  color: $secondary-color;
}

header {
  // position: fixed;
  z-index: 2;
  width: 100%;
}
